#mapid {
    width: 90%;
    height: 712px;
    border: 1px solid #ccc;
}
#brand {
    text-align: center;
}
#legend {
    min-width: 100px;
}
#navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.container-fluid {
    padding-top: 20px;
}